* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: aliceblue;
}
.App {
  text-align: center;
}
h1 {
  margin: 20px;
}

.outbox {
  color: aliceblue;
  align-items: center;
  margin: auto;
  width: 600px;
  height: 600px;
}
.inbox {
  vertical-align: middle;
  margin: auto;
  display: inline-block;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 255, 4);
  font-size: 110px;
}

.outerbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: ivory;
}

.popup {
  background-color: firebrick;
  margin-top: 30vh;
  height: 30%;
  color: aliceblue;
  font-family: monospace;
  font-size: larger;
}

.close {
  margin-left: 90vw;
  margin-top: 10px;
  background-color: transparent;
}

.ok {
  margin: 20px;
  background-color: transparent;
  padding: 10px 40px;
}

.close:hover,
.ok:hover {
  background-color: black;
  color: white;
}
